slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

slide hgroup h1,h2,h3,h4 {
  text-align: center;
}

slide hgroup h2 {
  line-height: 1;
  font-size: 60px;
  text-shadow: 0px 5px 1em gray;
  color: black;
}

slide.dark hgroup h2 {
  color: #eeeeee;
  text-shadow: 0px 5px 1em black;
  -webkit-text-stroke: .5px gray;
}

slide.dark hgroup h3 {
  color: #eeeeee;
}

slide.dark {
  color: #eeeeee;
}

slide footer {
  position: absolute;
  bottom: 20px;
}

footer.chromelogo {
  height: 100px;
  display: block;
}

slide ul {
  padding-left: 20px; 
}

slide li {
  font-size: 1.5em;
}

slide {
  border-image: radial-gradient(#fff, #000) 40% repeat;
  border-width: 5px; 
}

#slide-title h1 {
  font-size: 1.4em;
}

#slide-overview {
  background-image: url(../images/overview.jpg);
}

#slide-lastyear {
  background-image: url(../images/lastyear.jpg);
}

#slide-today {
  background-image: url(../images/today.jpg);
}

#slide-immersive {
  background-image: url(../images/immersive2.jpg);
}

#slide-capabilities {
  background-image: url(../images/capabilities.jpg);
}

#slide-offline {
  background-image: url(../images/offline2.jpg);
  background-size: 100%;
}

#slide-cloud {
  background-image: url(../images/cloud2.png);
}

#slide-cros {
  background-image: url(../images/cros.jpg);
}

#slide-xplatform {
  background-image: url(../images/xplatform2.jpeg);
  background-size: 150%;
}

#slide-mobile {
  background-image: url(../images/mobile2.jpg);
  background-size: 200%;
  background-position: -300px center;
}

#slide-development {
  background-image: url(../images/development2.jpg);
}

#slide-monetization {
  background-image: url(../images/monetization3.png);
}

#slide-distribution {
  background-image: url(../images/cws-structured.png);
  background-position: -340px -50px;
}

#slide-usecase-cros {
  background-image: url(../images/chrome.svg);
}

#slide-usecase-kiosk {
  background-image: url(../images/io-kiosk.png);
  background-size: 120%;
  background-position: 0px center;
}

#slide-usecase-xplatform {
  background-image: url(../images/xplatform2.jpeg);
  background-size: 150%;
}

#slide-usecase-device {
  background-image: url(../images/usecase-device.jpg);
}

#slide-usecase-website {
  background-image: url(../images/usecase-website.jpg);
}

#slide-usecase-game {
  background-image: url(../images/usecase-game2.jpg);
  background-size: 200%;
}

#xslide-roadmap {
  background-image: url(../images/roadmap.jpg);
}

#slide-conclusion {
  background-image: url(../images/conclusion.jpg);
  background-position: bottom;
  background-size: 100%;
}
